<h2>Tic Tac Toe</h2>
<app-login *ngIf="!isLoggedIn()" (loggedIn)="onLoggedIn($event)"></app-login>
<div *ngIf="isLoggedIn()">
    I am {{ players[mySymbol] }}, playing with {{ mySymbol }}
    <p>
        <app-board
            [turn]="turn"
            [players]="players"
            [me]="mySymbol"
            [board]="board"
            (logout)="loggedOff()"
            (onWin)="gameWon($event)"
            (onDraw)="gameDraw()"
            (onReset)="reset()"
            (onSynchronize)="synchronize()"></app-board>
        <app-log></app-log>
    </p>
</div>