table {
    border-collapse: collapse;
}

tr:not(:last-child) td {
    border-bottom: 3px solid black;
}

td:not(:last-child) {
    border-right: 3px solid black;
}

td {
    width: 60px;
    height: 60px;
    padding: 0;
}