<div>
    <table>
        <tr *ngFor="let row of myBoard; let i = index">
            <td *ngFor="let cell of row; let j = index">
                <app-cell [symbol]="cell.symbol" [disabled]=" !myTurn || !cell.available" (clicked)="onCellClicked(i, j)"></app-cell>
            </td>
        </tr>
    </table>
    <p>
        It's player <span>{{ players[theTurn] }}</span>'s (<span>{{ theTurn }}</span>) turn
    </p>
    <p>
        <button type="button" (click)="send()" [disabled]="!myTurn">Send</button>
        <button type="button" (click)="reset()">Reset</button>
        <button type="button" (click)="synchronize()">Sync</button>
    </p>
</div>